{% extends 'base.html'%}
​
{% block title%}{% endblock %}
<a href="{{url_for('events_cal')}}" class="btn btn-dark btn-lg btn-block">View Events</a>
{% block content%}
<div class="jumbotron jumbotron-fluid mx-auto pt-0" style="background-color: #65E2CD;">
  <h1 class="display-4">MotherBoard</h1>
  <p class="lead">Welcome to your family's very own digital hub </p> 
  <p class="lead">
  </p>
</div>
<div class="containerHome">
  <img src= "{{ url_for('static', filename='images/MotherBoard.jpg') }}" class="center" style="width:550px;height:550px;" >
</div>
​
{% endblock %}
