{% extends 'base.html'%}
{% block title%}{% endblock %}
{% block content%}
<div class="container">
	<h1 style="font-family: 'Poppins', sans-serif;"> Messages </h1>
	<div class="row">
		{% for message in data.messages %}
        <div class="card w-50">
		<div class="card text-center">
			<div class="card-header">
				{{message.userName}}
			</div>
			<div class="card-body">
				<h5 class="card-title" style = "color: #CEC2FF"> {{message.message}}</h5>
			</div>
			<div class="card-footer text-muted">
				{{message._id.generation_time.strftime("%x   %X")}}
			</div>
		</div>
        </div>
        <hr></hr>
	</div>
	{% endfor %}
</div>
{% endblock %}