{% macro navbar() -%}
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #65E2CD;">
		<a class="navbar-brand" href="{{url_for('index')}}">
			<i class="fa fa-home" aria-hidden="true"></i> Home
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-calendar" aria-hidden="true"></i> Calendar
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{url_for('events_cal')}}">Calendar</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{url_for('events_add')}}">Add Event</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item mr-auto" href="{{url_for('events_remove')}}">Remove Event</a>
				</div>
            </li>
            <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-users" aria-hidden="true"></i> Family 
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{url_for('users_view')}}">View Family Members</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{url_for('users_add')}}">Add Members</a>
			</div>
		</li>
            <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-shower" aria-hidden="true"></i> Chores
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{url_for('chores_view')}}">View Chores List</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{url_for('chores_add')}}">Add Chores</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-picture-o" aria-hidden="true"></i> Gallery
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{url_for('photos_view')}}">View Photos</a>

				</div>
			</li>
        <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-commenting" aria-hidden="true"></i> Messages
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{url_for('message_view')}}">View Messageboard</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{url_for('message_add')}}">Add Message</a>
				</div>
			</li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 font-italic" type="search" placeholder="Search events, tasks, albums, etc..." aria-label="Search" style= "width: 300px">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{%- endmacro %}