{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="container">
<h1 style="font-family: 'Poppins', sans-serif;"> Users </h1>
  <div class="row">

   {% for user in data.users %}
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card">
           <div class="card-header">
             {{user.userName}}
             {{user.userAge}}
             {{user.userPhone}}
             {{user.userWork}}
             {{user.userHobbies}}
            </div>
      </div>
    </div>

    {% endfor %}
  </div>
{% endblock %}
